*{margin-top: 0; padding: 0;}

.bodymap{
    background: url(../IMG/Background.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
#mapsection{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mapsection img{
    border-radius: 21%;
}

#mapsection h2{
    margin-top: 20px;
    width: 50%;
    text-align: center;
}
