*{margin: 0;padding: 0;}

body{
background: url(../IMG/Background.jpg);
background-size: cover;
background-repeat:no-repeat; 
}

.Acceuil{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    margin-top: 50px;
}
.recettes{
    width: 80%;
    height: 75%;
    background-color: #f6f6f6;
    border-radius: 60px;
    box-shadow: 25px 20px 7px rgba(0, 0, 0, 0.466);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    
}

.recettes::-webkit-scrollbar{
    display: none;
}

.Flag{
    width: 30%;
    margin-top: 40px;
}

.flag{
    display: flex;
    justify-content: center;

}

.x{
    width: 95%;
    height: 95%;
}


.articles{
    width: 40%;
    height: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.t{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 70%;
}

.css-button {
	font-family: Courier New;
	color: #ffffff;
	font-size: 25px;
	border-radius: 5px;
	border: 0px #11c66c solid;
	background: linear-gradient(180deg, #00ff80 5%, #11c66c 100%);
	text-shadow: 1px 1px 1px #ffffff;
	box-shadow: 0px 10px 14px -7px #616174;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
    margin: 30px;
    text-decoration: none;
}
.css-button:hover {
	background: linear-gradient(180deg, #11c66c 5%, #00ff80 100%);
}
.css-button-icon {
	padding: 10px 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}
.css-button-text {
	padding: 10px 18px;
}
