*{margin: 0;padding: 0;}

body{
background: url(../IMG/Background.jpg);
background-size: cover;
background-repeat:no-repeat; 
}

.Acceuil{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    margin-top: 50px;
}
.recettes{
    width: 80%;
    height: 75%;
    background-color: #f6f6f6;
    border-radius: 60px;
    box-shadow: 25px 20px 7px rgba(0, 0, 0, 0.466);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    
}

.recettes::-webkit-scrollbar{
    display: none;
}

.Flag{
    width: 30%;
    margin-top: 40px;
}

.flag{
    display: flex;
    justify-content: center;

}

.x{
    width: 95%;
    height: 95%;
}


.articles{
    width: 40%;
    height: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.t{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 70%;
}