*{margin: 0; padding: 0;}


.footer{
     width: 100vw;
    height: 20vh;
    background-color:#c4c4c4 ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 -3px 31px rgba(0, 0, 0, 0.548);
}

.facebook, .twitter, .pinterest, .instagram{
    text-align: center;
    font-size: 4rem;
    padding: 20px;
    color: black;
}

.copyright{
    text-align: center;
    padding-top: 20px;
    
}

@media screen and (max-width: 430px) {
    .facebook, .twitter, .pinterest, .instagram{
        font-size: 43px;
    }


}

