*{margin: 0; 
    padding: 0;
    box-sizing: border-box;
}


.bodyindex{
background: url(../IMG/Background.jpg);
background-size: cover;
background-repeat:no-repeat; 
    
}
.Acceuil{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    margin-top: 50px;
}

.recettes{
    width: 80%;
    height: 75%;
    background-color: #f6f6f6;
    border-radius: 60px;
    box-shadow: 25px 20px 7px rgba(0, 0, 0, 0.466);
    display: flex;
    justify-content: center;
    align-items: center;
}

.vues::-webkit-scrollbar {
    display: none;
}

.vues{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: space-between;
}

.vues div{
    max-height: 40%;
    max-width: 45%;
    margin: 15px;
    
}

.vues div img {
   max-height: 90%;
    max-width: 100%;
    display: flex;
    margin: 5px;
    border-radius: 12%;
}

.vues div a{
    color:#e76731;
}

