*{margin: 0;padding: 0;}

body{
    background: url(../IMG/Background.jpg);
    background-size: cover;
    background-repeat:no-repeat; 
    }


    h2{
        text-align:center;
        margin-top: 15%;
        font-size: 50px;
    }

    h3{
        min-width: 96%;
        border-bottom: solid black 2px;
        padding: 20px;
        font-size: 25px;
        margin-bottom: 15px;
    }

    .perso{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content:space-evenly;
        height: 1000px;
        margin-top: 50px;

    }

    .myrecipes{
        width: 80%;
        height: 32%;
        background-color: #f6f6f6;
        border-radius: 60px;
        box-shadow: 25px 20px 7px rgba(0, 0, 0, 0.466);
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: scroll;
        margin-bottom: 20px;
    }

    .mycomments{
        width: 80%;
        height: 32%;
        background-color: #f6f6f6;
        border-radius: 60px;
        box-shadow: 25px 20px 7px rgba(0, 0, 0, 0.466);
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: scroll;
    }
    .members{
        width: 80%;
        height: 32%;
        background-color: #f6f6f6;
        border-radius: 60px;
        box-shadow: 25px 20px 7px rgba(0, 0, 0, 0.466);
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: scroll;
    }

    .myrecipes::-webkit-scrollbar {
        display: none;
    }

    .mycomments::-webkit-scrollbar {
        display: none;
    }
    .members::-webkit-scrollbar {
        display: none;
    }

.mescom{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 6px;
    border-bottom: 1px solid black;
    padding: 6px;
}