*{margin: 0; padding: 0;}

body{
    background: url(../IMG/Background.jpg);
    background-size: cover;
    background-repeat:no-repeat; 

    }

.RECETTE{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200%;
    margin-top: 85px;
}

.recette{
    width: 80%;
    max-height: 80vh;
    background-color: #f6f6f6;
    border-radius: 60px;
    box-shadow: 25px 20px 7px rgba(0, 0, 0, 0.466);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    margin-top: 6%;
    padding: 26px;
    margin-bottom: 90px;
    
}

.recette::-webkit-scrollbar {
    display: none;
}
.com::-webkit-scrollbar {
    display: none;
}


.ban{
    height: 20%;
    display: flex;
    justify-content: space-between;
    
}

img{
    width: 30%;
    height: 217%;
    border-radius: 10px;
}

.com{
    width: 70%;
    height: 350px;
    background-color: #f6f6f6;
    border-radius: 60px;
    box-shadow: 25px 20px 7px rgba(0, 0, 0, 0.466);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    margin: 80px 0;
}

.com div {
    display: flex;
    width: 85%;
    flex-direction: column;

}

.com h3, h2{
    font-size: 25px;
    margin-top: 10px;
}

.com p {
    border-bottom: 2px solid #00000029;
    width: 94%;
    text-align: center;
    font-size: 14px;
    padding-bottom: 40px;
}

.Addcom{
    width: 60%;
    height: 220px;
    background-color: #f6f6f6;
    border-radius: 35px;
    box-shadow: 25px 20px 7px rgba(0, 0, 0, 0.466);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 80px;
    padding-bottom: 15px;
    resize: none;
}

.comform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    height: 70%;
}

.comform textarea{
    width: 85%;
    height: 65%;
    resize: none;
}