*{margin: 0; padding: 0;}

body{
    background: url(./IMG/Background.jpg);
    background-size: cover;
    background-repeat:no-repeat; 

    }

.RECETTE{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    margin-top: 50px;
}

.recette{
    width: 80%;
    height: 75%;
    background-color: #f6f6f6;
    border-radius: 60px;
    box-shadow: 25px 20px 7px rgba(0, 0, 0, 0.466);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    
}

.recette::-webkit-scrollbar {
    display: none;
}


.ban{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
}

img{
    height: 217%;
    border-radius: 10px;
}